// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  z-index: 10;
  display: none;

  @media (min-width: $menu-desktop-width) {
    display: flex;
    align-items: center;
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    // position: relative;

    &--active {

      & > #{$block-name}__link {
        color: #2EB28B;
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em;
    text-decoration: none;
    background-color: #fff;
    color: $text-color;

    svg {
      vertical-align: middle;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      background-color: $gray-lightest;
    }

    @media (min-width: $menu-desktop-width) {
      padding: 36px 0.7em;
    }
  }

  &__sublist-wrapper {

    @media (min-width: $menu-desktop-width) {
      &:before {
        content: "";
        height: 1px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: #D3E3DF;
      }
      box-shadow: 0px 8px 16px rgba(20, 74, 58, 0.15);
      position: absolute;
      background: #fff;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      height: 0;
      overflow: hidden;
      transition: opacity $transition-time;

      // stylelint-disable  max-nesting-depth
      #{$block-name}__item--show-child > &,
      #{$block-name}__item:hover & {
        opacity: 1;
        height: auto;
        overflow: visible;
      }
      // stylelint-enable
    }
  }

  &__sublist-container {
    @include container;
    display: flex;
  }


  &__sublist-row {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 30px 30px 40px 30px
  }

  &__sublist-image {
    margin-left: 60px;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__sublist-col {
    max-width: 248px;
    flex-basis: 248px;

    .docs__list {
      background-image: none;
    }
    a {
      color: #144A3A;
      text-decoration: none;

      &:hover {
        color: #2EB28B;
      }
    }
  }

  &__sublist-title {
    color: #144A3A;
    margin: 0 0 24px 0;
  }

  &__sublist {
    list-style: none;
    padding: 0;

    li {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }

    a {
      display: block;
      color: #000;
      text-decoration: none;

      &:hover {
        color: #2EB28B;
      }
    }
  }

  // переключатель
  &__toggler.hc-nav-trigger {
    display: inline-block;
    padding: 0;
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none !important;
    }
  }
}
