// В этом файле должны быть стили для БЭМ-блока about, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.about {

  $block-name:                &; // #{$block-name}__element

  &__row {
    @include row;
  }

  &__col {
    @include col();
    @include col(lg, 6);

    &--media {

    }

    &--caption-l {

      @media (min-width: $screen-xl) {
        padding-right: 120px !important;
      }
      @media (min-width: $screen-lg) {
        padding-right: 60px !important;
      }
    }
    &--caption-r {

      @media (min-width: $screen-xl) {
        padding-left: 120px !important;
      }
      @media (min-width: $screen-lg) {
        padding-left: 60px !important;
      }
    }

    &--order-1 {
      order: 1;
      @media (min-width: $screen-lg) {
        order: inherit;
      }
    }

    &--order-2 {
      order: 2;
      @media (min-width: $screen-lg) {
        order: inherit;
      }
    }
  }
}
