// В этом файле должны быть стили для БЭМ-блока page-call-fixed, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-call-fixed {

  $block-name:                &; // #{$block-name}__element

  // display: none;
  margin-right: 90px;
  display: flex;
  align-items: center;

  @media (max-width: $screen-md) {
    display: none;
  }

  @media (min-width: $screen-xl) {
    z-index: 100;
    position: fixed;
    right: -186px;
    top: 189px;
    display: block;
  }

  &__btn {
    background: #1B6A53;
    padding: 10px 25px;

    @media (min-width: $screen-xl) {
      transform: rotate(-90deg);
      width: 247px;
      padding: 15px 35px;
    }

    span {
      margin-left: 15px;
      position: relative;
    }

    svg {
      vertical-align: middle;
      transform: rotate(90deg);
    }
  }
}
