// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 101;

  &__inner {
    @include container;
    height: 60px;
    display: flex;
    position: relative;

    @media (min-width: $menu-desktop-width) {
      height: auto;
    }

    .logo {
      align-self: center;
      margin-right: auto;
      img {
        max-width: 128px;
      }

      @media (min-width: $menu-desktop-width) {
        height: auto;
        img {
          max-width: 215px;
        }
      }
    }
  }

  @media (min-width: $menu-desktop-width) {
    padding: 0;
    height: auto;
  }
}
