// В этом файле должны быть стили для БЭМ-блока callback-box, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.callback-box {

  $block-name:                &; // #{$block-name}__element

  background: #144A3A;
  color: #fff;
  // padding: 40px;
  background-image: url(../img/callback-box-bg.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-lg) {
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }

  &__caption {
    padding: 40px 25px 10px 25px;

    @media (min-width: $screen-lg) {
      max-width: 450px;
      padding: 40px 25px 40px 40px;
    }
  }

  &__title {
    font-family: $font-family--headings;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
    margin-bottom: 24px;

    @media (min-width: $screen-md) {
      font-size: 40px;
      line-height: 40px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  &__form {
    padding: 40px 25px 20px 25px;

    @media (min-width: $screen-lg) {
      padding: 40px 40px 40px 30px;
      flex-grow: 1;
    }
  }

  &__field-group {
    @include row;
  }

  &__field {
    @include col();
    @include col(md, 6);
  }

  &__field-actions {
    text-align: center;

    @media (min-width: $screen-lg) {
      text-align: right;
    }
  }
}
