// В этом файле должны быть стили для БЭМ-блока page-section, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-section {

  $block-name:                &; // #{$block-name}__element

  padding: 20px 0;

  &--porfolio {
    background: #F4F6F6;
    background-image: url(../img/section-bg-01.svg);
    background-repeat: no-repeat;
    background-position: right top;
  }

  &--video {
    background: #F4F6F6;
    background-image: url(../img/section-bg-02.svg);
    background-repeat: no-repeat;
    background-position: left top;
  }

  &--news-carousel {
    background: #F4F6F6;
    border-top: 1px solid #dfe5e4;
  }
}
