// В этом файле должны быть стили для БЭМ-блока advantages, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.advantages {

  $block-name:                &; // #{$block-name}__element

  &__list {
    &:not(.owl-carousel) {
      @include row;

      #{$block-name}__item {
        @include col();
        @include col(lg, 3);
        @include col(md, 6);
      }
    }
  }

  &__item {
    display: flex;
    margin-bottom: 25px;
  }

  &__icon {
    max-width: 56px;
    flex-shrink: 0;
    margin-right: 24px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.45;
  }
}
