// В этом файле должны быть стили для БЭМ-блока to-top, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, $media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.to-top {

  $block-name:                &; // #{$block-name}__element

  position: fixed;
  right: 0;
  bottom: 1rem;
  z-index: 1;
  width: 48px;
  height: 48px;
  background-color: rgba(102, 102, 102, 0.9);
  color: transparent;
  font: 0/0 a;
  // см. img_to_bg/to-up.svg
  // http://yoksel.github.io/url-encoder/ru/
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxOSAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuOTgwNDY5IDkuNDExMzhMOS40OTg3IDAuODkzMjVMMTguMDE2OCA5LjQxMTM4IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=);
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: rgba(102, 102, 102, 1);
  }

  .js & {
    display: none;
  }
}
