// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.owl-carousel {
  // По умолчанию в сборку берется стилевой файл этого блока, предоставляемый
  // автором пакета (см. файл настройки проекта, там подключается
  // node_modules/owl.carousel/dist/assets/owl.carousel.css).
  // Надо стилизовать — копипастить из исходника и убирать исходник из сборки.

  .main-slide {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 240px 15px;

    &__title {
      font-family: $font-family--headings;
      color: #fff;
      font-size: 32px;
      line-height: 1.2;
      position: relative;
      margin-bottom: 15px;

      @media (min-width: $screen-lg) {
        font-size: 64px;
      }
    }

    &__btn {
      position: relative;
    }

    img {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .portfolio-slide {
    display: flex;
    flex-wrap: wrap;

    &__title {
      font-family: $font-family--headings;
      font-size: 32px;
      line-height: 1.3;
      margin-bottom: 30px;
    }

    &__caption {
      order: 2;
      max-width: 100%;
      flex-basis: 100%;
      text-align: center;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      @media (min-width: $screen-md) {
        text-align: left;
        order: 1;
        max-width: 35%;
        flex-basis: 35%;
      }
    }

    &__image {
      order: 1;
      max-width: 100%;
      flex-basis: 100%;

      @media (min-width: $screen-md) {
        order: 2;
        max-width: 65%;
        flex-basis: 65%;
      }
    }
  }

  .news-slide {
    .news-card__image {
      margin-bottom: 10px;
    }
    .news-card__date {
      margin-bottom: 10px;
    }
  }

  .owl-dots {
    text-align: center;
    margin-top: 40px;

    .owl-dot {
      margin: 0 12px;

      span {
        width: 16px;
        height: 16px;
        display: block;
        border-radius: 50%;
        position: relative;
        background: transparent;

        &:before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          background: #d3d3d3;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          opacity: 0.6;
        }
      }

      &.active {

        span {
          background: #1B6A53;

          &:before {
            background: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}

#main-carousel {

  .owl-dots {
    margin-top: 0;
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform:translateX(-50%);

    span {
      &:before {
        background: #fff;
      }
    }
  }
}
